<div class="topbar">
  <div class="brand">THRYVE</div>
 <nav>
    <a href="/" 
       class="<%= active === 'home' ? 'active' : '' %>">Home</a>

    <a href="/dashboard" 
       class="<%= active === 'dashboard' ? 'active' : '' %>">Dashboard</a>

    <a href="/recovery" 
       class="<%= active === 'recovery' ? 'active' : '' %>">Recovery</a>

    <a href="/start-workout" 
       class="<%= active === 'start' ? 'active' : '' %>">Start Workout</a>

    <a href="/profile-setting" 
       class="<%= active === 'profile' ? 'active' : '' %>">Profile</a>

    <a href="/logout" id="logoutBtn">Logout</a>
</nav>

</div>